body{
  --slack-color: #3f0f40;
  /* overflow: hidden; */
}

.app_body {
  display: flex;
  height: 100vh;
}

.app_body > h1 {
  display: flex;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
}